* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}
body {
  font-family: sans-serif;
  background-color: #fefbe9;
  color: #183a1d;
}
header {
  margin: 10px;
  text-align: center;
}
h3 {
  font-weight: 100;
  text-align: center;
}
.descricao {
  margin: 16px;
}
p {
  font-size: 1.25rem;
  line-height: 2rem;
  padding: 16px;
  text-align: justify;
  word-spacing: normal;
}
a:visited {
  color: #183a1d;
}
.img {
  min-height: 350px;
  background-attachment: scroll;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.img1 {
  background-image: url("https://images.unsplash.com/photo-1498050108023-c5249f4df085?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=872&q=80");
}
.img2 {
  background-image: url("https://images.unsplash.com/photo-1571171637578-41bc2dd41cd2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
}
.img3 {
  background-image: url("https://images.unsplash.com/photo-1593720213428-28a5b9e94613?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
}
